*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}
body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 3rem;
}
.container{
    background-color: hsl(0, 0%, 12%);
    width: 100%;
    max-width: 22rem;
    padding: 1.8rem;
    border-radius: 10px;
}
.avatar{
    max-width: 100%;
    width: 5rem;
    border-radius: 50%;
    margin-inline: auto;
    display: block;
    height: auto;
}
.avatar-name{
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin: 1rem 0 0.5rem 0;
    font-family: "Inter";
}
.avatar-location{
    color: hsl(75, 94%, 57%);
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Inter";
    font-weight: 600;
}
.avatar-description{
    color: hsl(0, 1%, 70%);
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-family: "Inter";
    font-size: 0.9rem;
}
.social-links{
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0.8rem;
    padding: 0.6rem;
    font-weight: 600;
    font-family: "Inter";
    font-size: 0.9rem;
}
.social-links:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    transition-duration: 0.2s;
}
.attribution{
    color: hsl(0, 1%, 70%);
    margin-top: 5rem;
}
.attribution a{
    color: hsl(75, 94%, 57%);
}